<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <script type="text/javascript">
      window.currentUser = "1235123sdv#&#Gbsdvba72n987r@&#!8as9d0as9dbfasdf"
    </script>
    <% end %>
  </div>

  <% flash.each do |type, message|%>
    <div class="container alert-<%= type %>">
      <%= message %>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
