<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%= current_user.id %>
    </script>
  <% end %>
  <div class="container">
    <% flash.each do |type, message|%>
      <div class="container alert-<%= type %>">
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
