<!DOCTYPE html>
<html>
<head>
  <title>TrackieChan</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%= current_user.id %>;
      window.CLOUDINARY_NAME = "q32rnq9jfaskfaskfasf";
      window.CLOUDINARY_PRESET = "f0qeyyhf";
      window.CLOUDINARY_VERSION = "v1_1";
    </script>
  <% end %>
  
  <div class="container">
    <% flash.each do |type, message|%>
      <div class="container alert-<%= type.to_s %>">
        <%= message %>
      </div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
