<!DOCTYPE html>
<html>
<head>
  <title>TrackieChan</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "#{root_url}/favicon.ico" %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico|Varela+Round' rel='stylesheet' type='text/css'>
</head>
<body>
  <% if current_user %>
    <script type="text/javascript">
      var userId = "<%= current_user.id %>";
      localStorage.setItem("user", btoa(btoa(userId)));
      window.CLOUDINARY_NAME = "q32rnq9jfaskfaskfasf";
      window.CLOUDINARY_PRESET = "f0qeyyhf";
      window.CLOUDINARY_VERSION = "v1_1";
    </script>
  <% else %>
    <script type="text/javascript">
      localStorage.removeItem("user");
      window.CLOUDINARY_NAME = "q32rnq9jfaskfaskfasf";
      window.CLOUDINARY_PRESET = "f0qeyyhf";
      window.CLOUDINARY_VERSION = "v1_1";
    </script>
  <% end %>
  
  <div class="container flash">
    <% flash.each do |type, message|%>
      <div class="container alert-<%= type.to_s %>">
        <% if message.is_a? Array %>
          <% message.each do |m| %>
            <%= m %><br/>
          <% end %>
        <% else %>
          <%= message %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>